:root {
    --couleur-primaire : #661cb0;
}

footer{
    visibility: hidden;
}

th, td {
  padding: 0.8vh;
  text-align: center;
  border: 1px solid black;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

h1,  h2 {
  text-align: center;
}

h3 {
  color: black;
}

.parm {
  background-color: #cda8e3;
}

.paleblue {
  background-color: #a8d3e3;
}

.pinkish {
  background-color: #dbb6d9;
}

.hidden {
  visibility: hidden;
}

img {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}