:root {
    --couleur-primaire : #661cb0;
}

footer{
    visibility: hidden;
}

th, td {
  padding: 0.5vh;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h3 {
  color: red;
}