:root {
    --couleur-primaire : #661cb0;
}

footer{
    visibility: hidden;
}

th, td {
  padding: 0.8vh;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

h3 {
  color: black;
}